@section Styles {
    <link rel="stylesheet" href="~/scss/Home/index.min.css" asp-append-version="true" />
}

<div class="mainContainer">
    <h1 class="welcomeText">Welcome</h1>
    <p class="previewText">
        We are popular logistic company who help
        organization transportation process.
    </p>
    <p class="previewText">
        Only professional and competent employees
        work in our team.
    </p>
</div>
